@import "../../scss//variables.scss";
@import "../../scss//mixin.scss";

.products-container {
  @include grid($column: repeat(4, 1fr), $col-gap: 2rem, $row-gap: 2rem);
  justify-items: center;
  padding: 2rem;
}
.products-pagination {
  @include flex($justify: center, $align: center);
}
.products-infor {
  @include flex($justify: space-between, $align: center);
  padding: 0 2rem;
}
