@import "./scss/variables.scss";
@import "./scss/mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}
